@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap');

.IncidentFormContainer {
    font-family: 'Mukta Vaani', sans-serif;
    margin: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsla(233, 100%, 90%, 1);

    background: linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#CAD0FF", endColorstr="#E3E3E3", GradientType=1);
}

.identity-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
}

.mainheader {
    position: absolute;
    top: 30px;
    font-size: 30px;
    background-color: rgb(110, 94, 254);
    padding: 10px 20px;
    color: white;
    border-radius: 30px;
    border: 4px solid white;
    /* font-family: 'Caveat', cursive; */
}

.form-container {
    /* border : 6px solid purple; */
    border-radius: 5%;
    padding: 20px;
}

.formTitles {
    font-size: large;
    text-align: center;
    padding: 8px;
}

/* .navigateBtn {
    background: transparent;
    padding: 5px;
    border-radius: 5px;
    margin: 0 2%;
    cursor: pointer;
    /* background-color : white; */
/* color: white;
width: 15%;
border: 2px solid white;

} */

*/ .header {
    width: 40vw;
    margin: auto;
}

.IncidentFormBtns {

    width: 100%;
}

.IncidentFormBtns {
    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    justify-content: space-between;
}

.prevBtn {
    justify-content: start;
}

.nextBtn {
    justify-content: end;
}

.navigateBtn {
    cursor: pointer;
    background-color: rgb(110, 94, 254);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 7px;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    padding: 7.5px 15px 7.5px 15px;
    text-decoration: none;
    display: flex;
    width: 80px;
    justify-content: center;
    align-items: center;
    margin: 0 2%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid white;

}

.navigateBtn:hover {
    background-color: rgb(129, 118, 223);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
}