@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');

.navList {
    width: 100%;
}

.nav {
    box-shadow: 0px 3px 6px 0px rgba(1, 1.5, 0, 2);
    position: absolute;
    top:150px;
    /* left: 150px; */
    margin:0 100px;
    list-style: none;
    overflow: hidden;
}

.nav-item {
    /* margin: 5% 0; */
    width:100%;
    border-bottom: 1px solid black;
    padding: 4px;
}

.nav-link {
    text-decoration: none;
    color:rgb(110, 94, 254);
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.5vw;
    /* margin-left: 40px; */
}

@media screen and (max-width:960px) {
    .navList {
        display: none;
    }
}