@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');

.navList {
    width: max-content;
}

.nav {
    box-shadow: 0px 3px 6px 0px rgba(1, 1.5, 0, 2);
    position: absolute;
    left: 20px;
    list-style: none;
}

.nav-item {
    margin: 10px 0;
    border-bottom: 1px solid black;
    padding: 10px;
}

.nav-link {
    text-decoration: none;
    color:rgb(110, 94, 254);
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 30px;
    margin-left: 40px;
}