@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');

.mappArea {
    display: flex;
    flex-direction: row;
    /* position: absolute;
    top:700px; */
    width: 90vw;
    height: 70vh;
    margin: auto;
    margin-top: 70px;
    /* justify-content: start; */
    /* align-items: start; */
}

.maparea {
    margin: auto;
    /* position: absolute; */
    height: 60vh;
    width: 95%;
    /* margin: auto; */
    /* background-color: black; */
    border: 2px solid black;
}

.mapsidecont {
    height: 100%;
    width: 60%;
}

.mapdesc {
    font-family: 'Mukta Vaani', sans-serif;
    width: 95%;
    font-size: 14px;
    margin: auto;
}

.linktoviewdata {
    text-decoration: none;
    font-weight: bold;
}