.viewdatacont{
    position: absolute;
    top:100px;
    width:100%;
    display: flex;
    flex-direction: row;
}
.sidebar
{
    margin:10px;
    margin-right: 0px;
    /* background-color: red; */
    /* display: unset; */
    width:35vw;
}

.cardsofincident
{
    top:120px;
    width:55vw;
    /* border:10px solid rgb(121, 121, 232); */
    
}

